.app {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  box-shadow: 0 0 0 1px var(--border) inset;
}
.headerContent {
  margin: 0 auto;
  width: 92%;
  max-width: var(--width);
  display: flex;
  gap: 1em;

  justify-content: space-between;
  align-items: center;
  padding: 4em 1em 1em 1em;
  color: var(--fg);
  box-shadow: -1px 0 0 0 var(--border) inset, 1px 0 0 0 var(--border) inset;
}

.title {
  font-size: 0.65em;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin: 0;
}

.subtitle {
  font-size: 0.875em;
  color: color-mix(in srgb, var(--fg) 50%, transparent);
  margin: 0.25em 0 0 0;
}

.main {
  display: flex;
  flex-grow: 1;
}

.logo {
  width: 2em;
}
